body {
    background-color: black;
    font-family: UniversNextPro-Regular;
    /*font-family: sans-serif;*/
    font-size: 2vw;
}

video {
    width: 100%;
    display: block;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    /*background-color: blue;*/
}

.title_card {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: 999999;
}

.title {
    font-size: 2em;
    font-family: GillFaciaMTPro-Regular;
    line-height: 1.15;

    /*font-size: 1.5em;*/
    /*font-family: UniversNextPro-Regular;*/
    /*line-height: 1.3;*/

    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panic_button {
    position: fixed;
    top: 1.5vw;
    right: 1.5vw;
    background-color: white;
    width: 1vw;
    height: 1vw;
    /*border-radius: 100%;*/
}

.nav {
    color: white;
    font-size: .5em;
    letter-spacing: .05em;
    justify-content: center;
    width: 100%;
    height: 5%;
    left: 0;
    padding-top: 1.5%;
    padding-left: 7.5%;
}

.top {
    top: 0;
    position: fixed;
}

.bottom {
    bottom: 0;
    position: fixed;
    padding-top: .5%;
    background-color: black;
}

.piece_no {
    bottom: 0;
    position: absolute;
    padding-top: .5%;
    padding-right: 7.5%;
    text-align: right;
    position: fixed;
    /*background-color: blue;*/
}

.player {
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.thumbnail {
    cursor: pointer;
}

/* RELATED VIDEOS */

#related_videos {
    width: 100%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.col_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

    .col_2 > div {
      padding: 3%;
      color: white;
    }

    .col_2 img {
        max-width: 100%;
    }

.col_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

    .col_3 > div {
      padding: 3%;
      color: white;
    }

    .col_3 img {
        max-width: 100%;
    }

.col_6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

    .col_6 > div {
      padding: 3%;
      color: white;
    }

    .col_6 img {
        max-width: 100%;
    }


/* TEXT */

.article {
    color: white;
    width: 75%;
    margin: 0 auto;
}




p + p {
    text-indent: 2em;
}

.caption {
    font-size: .95em;
    padding-top: 3%;
    padding-bottom: 6%;
    width: 80%;
    position: absolute;
    color: white;
}




.GillFaciaMTPro-Italic { 
    font-family: GillFaciaMTPro-Italic;
    font-weight: normal;
    font-style: normal;
}
.GillFaciaMTPro-ItaDisplay { 
    font-family: GillFaciaMTPro-ItaDisplay;
    font-weight: normal;
    font-style: normal;
}
.GillFaciaMTPro-RegDisplay { 
    font-family: GillFaciaMTPro-RegDisplay;
    font-weight: normal;
    font-style: normal;
}
.GillFaciaMTPro-Regular { 
    font-family: GillFaciaMTPro-Regular;
    font-weight: normal;
    font-style: normal;
}



.UniversNextPro-MediumItalic { 
    font-family: UniversNextPro-MediumItalic;
    font-weight: normal;
    font-style: normal;
}
.UniversNextPro-Medium { 
    font-family: UniversNextPro-Medium;
    font-weight: normal;
    font-style: normal;
}
.UniversNextPro-Italic { 
    font-family: UniversNextPro-Italic;
    font-weight: normal;
    font-style: normal;
}
.UniversNextPro-Regular { 
    font-family: UniversNextPro-Regular;
    font-weight: normal;
    font-style: normal;
}
.UniversNextPro-BoldItalic { 
    font-family: UniversNextPro-BoldItalic;
    font-weight: normal;
    font-style: normal;
}
.UniversNextPro-Bold { 
    font-family: UniversNextPro-Bold;
    font-weight: normal;
    font-style: normal;
}